.student-navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:12px 30px;
background:linear-gradient(90deg,#0f2027,#203a43,#2c5364);
color:white;
}

.student-logo{
font-size:20px;
font-weight:600;
cursor:pointer;
}

.student-nav-links{
display:flex;
gap:25px;
}

.student-nav-links span{
cursor:pointer;
font-weight:500;
transition:0.3s;
}

.student-nav-links span:hover{
color:#4da6ff;
}

.active-link{
color:#4da6ff;
border-bottom:2px solid #4da6ff;
padding-bottom:2px;
}

.profile-section{
position:relative;
display:flex;
align-items:center;
}

.profile-trigger{
display:flex;
align-items:center;
gap:10px;
cursor:pointer;
}

.profile-img{
width:38px;
height:38px;
border-radius:50%;
object-fit:cover;
border:2px solid #95a4b3;
}

.username{
font-weight:500;
}

.profile-popup{
position:absolute;
top:55px;
right:0;
background:white;
color:black;
width:220px;
padding:20px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.15);
text-align:center;
animation:popupFade 0.25s ease;
}

.popup-img{
width:70px;
height:70px;
border-radius:50%;
object-fit:cover;
margin-bottom:10px;
}

.logout-btn{
margin-top:10px;
width:100%;
background:#ff4d4d;
border:none;
padding:10px;
color:white;
border-radius:6px;
cursor:pointer;
}

.logout-btn:hover{
background:#e63939;
}

@keyframes popupFade{
from{
opacity:0;
transform:translateY(-10px);
}
to{
opacity:1;
transform:translateY(0);
}
}